body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%; 
    height: 100vh;
    position: relative;
    z-index: 0;
}

.button {
    position: absolute;
    width: 7vh;
    height: 7vh;
    bottom: 1vh;
    right: 1vh;
    border-radius: 50%;
    z-index: 1;
    transition: 1s linear;
}

#add_b {
    z-index: 2;
}